.App {
  background-color: #ddd8d4;
  color: #2c2c2c;
  line-height: 1.6;
  /*padding: 20px;*/
  /*width: 100%;*/
  overflow-x: hidden;
}

.navbar {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
}

.navbar-principal {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 30px;
}

.logo {
  display: flex;
  align-items: center;
  width:250px;
  height:150px;
  text-align:center;
  padding: 0px 20px;
}

.logo-menu{
  width:50px;
  height:50px;
  text-decoration: none;
  color: #2c2c2c;
}

.logo h1 {
  font-size: 24px;
  margin-left: 10px;
  font-weight: bold;
}

.logo span {
  font-size: 12px;
  color: #7a7a7a;
  margin-left: 5px;
}

.nav-links a {
  margin: 0 15px;
  text-decoration: none;
  color: #2c2c2c;
  font-size: x-large;
  display: inline-flex;
  column-gap: 10px;
  /*font-weight: bold;*/
}

.nl-icon {
  height: 40px;
  width: 40px;

}

.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  padding: 20px;
  /*max-width: 1200px;*/
  margin: auto;
}

@media (max-width: 800px) {
  .grid-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

.grid-item {
  position: relative;
  background-size: cover;
  background-position: center;
  height: 300px;
  overflow: hidden;
}

.overlay {
  position: initial;
  height: 80px;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  width: 100%;
  text-align: center;
  padding: 10px;
  font-size: 18px;
}

.feat1-overlay {
  position: initial;
  height: 60px;
  bottom: 0;
  background: #000000;
  opacity: 0.6;
  color: #fff;
  width: 100%;
  text-align: center;
  padding: 10px;
  font-size: 20px;
}

.feat2-overlay {
  position: initial;
  height: 60px;
  bottom: 0;
  background: #615d57;
  opacity: 0.6;
  color: #fff;
  width: 100%;
  text-align: center;
  padding: 10px;
  font-size: 20px;
}

.feat3-overlay {
  position: initial;
  height: 60px;
  bottom: 0;
  background: #7d4e30;
  opacity: 0.6;
  color: #fff;
  width: 100%;
  text-align: center;
  padding: 10px;
  font-size: 20px;
}

.feat4-overlay {
  position: initial;
  height: 60px;
  bottom: 0;
  background: #2d5166;
  opacity: 0.6;
  color: #fff;
  width: 100%;
  text-align: center;
  padding: 10px;
  font-size: 20px;
}

.title-button-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 30px;
  margin: auto;
}

/* Title Text */
.title-text {
  font-size: 2.3rem;
  color: #333; /* Dark grey for text */
  flex: 1;
  margin-right: 20px;
}

/* Button */
.cta-button {
  background-color: #365069; /* Dark blue button */
  color: #fff;
  text-decoration: none;
  padding: 10px 20px;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 50px;
  display: flex;
  align-items: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.cta-button .arrow {
  margin-left: 10px;
  font-size: 1.2rem;
}

.cta-button:hover {
  background-color: #2b4053; /* Darker shade on hover */
  transform: translateY(-2px);
}

.about-section {
  background-color: #2d5166; /* Matches the color tone in the design */
  color: #fff;
  padding: 50px 20px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  gap: 100px;
}

.left-content {
  flex: 1 1 50%;
}

.left-content h1{
  font-size: 3.5rem;
  color: #fff;
  width: 100%;
  margin-bottom: 65px;
}

.left-content p {
  margin-bottom: 15px;
  line-height: 1.8;
  font-family: 'TT Interphases'
}

.right-content {
  flex: 1 1 35%;
  
}

.right-content img {
  max-width: 100%;
  width: 100%;
  height: 41%;
  margin-bottom: 20px;
}

.text-below p {
  margin-bottom: 15px;
  line-height: 1.8;
  font-family: 'TT Interphases'
}

@media (max-width: 768px) {
  .container {
      flex-direction: column;
      gap: 20px;
  }

  .left-content, .right-content {
      flex: 1 1 100%;
  }

  .left-content {
      order: 1;
  }

  .right-content {
      order: 2;
  }

  .left-content h1{
      font-size: 2rem;
      text-align: justify;
  }

  .left-content p {
      text-align: justify;
  }
}

.offer-section {
  width: 80%;
  margin: 0 auto;
}

.offer-section h1 {
  font-size: 3.5rem;
  color: #000000;
  margin-bottom: 0px;
}

.offer-section p{
  line-height: 1.8;
  color: #000000;
}

.services {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: space-between;
}

@media (max-width: 800px) {
  .services {
    grid-template-columns: repeat(1, 1fr);
  }
}

.service {
  flex: 1;
  text-align: center;
  padding: 15px;
}

.service a:hover {
  transform: translateY(-2px);
}

.service img {
  margin-top: 30px;
  width: 100%;
  max-height: 240px;
}

.offer-button-1 {
  background-color: #000000; /* Dark blue button */
  color: #fff;
  text-decoration: none;
  padding: 10px 20px;
  font-size: 1rem;
  border-radius: 50px;
  display: block;
  align-items: center;
  text-align: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.offer-button-2 {
  background-color: #6e717a; /* Dark blue button */
  color: #fff;
  text-decoration: none;
  padding: 10px 20px;
  font-size: 1rem;
  border-radius: 50px;
  display: block;
  align-items: center;
  text-align: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.offer-button-3 {
  background-color: #2d5166; /* Dark blue button */
  color: #fff;
  text-decoration: none;
  padding: 10px 20px;
  font-size: 1rem;
  border-radius: 50px;
  display: block;
  align-items: center;
  text-align: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease, transform 0.2s ease;
}

/**/

.offer2-section {
  width: 100%;
  margin: 0 auto;
  background-color: #f8f8f8;
}

.offer2-container{
  width: 80%;
  margin: 0 auto;
  padding: 50px 20px;
}

.offer2-header {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 40px;
}

.offer2-button {
  background-color: #000;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  font-family: 'TT Interphases';
  font-size: 20px;
  cursor: pointer;
}

.offer2-button:hover {
  background-color: #333;
}

.offer2-title {
  font-size: 28px;
  margin-bottom: 40px;
  color: #222;
  text-align: left;
}

.features2-grid {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(2, 1fr);
  grid-auto-flow: column;
  gap: 30px;
}

.feature2-item {
  padding: 10px;
  max-width: 400px;
  width: 100%;
}

.feature2-item h2 {
  font-size: 21px;
  color: #3d3b30;
  margin-bottom: 10px;
  font-family: 'TT Ramilas';
}

.feature2-item .number {
  font-size: 21px;
  font-family: 'TT Ramilas';
  font-weight: bold;
  color: #3d3b30;
}

.feature2-item p {
  font-size: 14px;
  font-family: 'TT Interphases';
  color: #191919;
  margin-bottom: 10px;
}

.feature2-arrow-link {
  font-size: 18px;
  text-decoration: none;
  color: #888;
}

.feature2-arrow-link:hover {
  color: #000;
}

/***/
.offer3-section {
  width: 100%;
  margin: 0 auto;
  background-color: #f8f8f8;
}

.offer3-container{
  width: 80%;
  margin: 0 auto;
}

.offer3-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 30px 0px 30px;
  margin: auto;
}

.offer3-button {
  background-color: #000;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  font-family: 'TT Interphases';
  font-size: 20px;
  cursor: pointer;
}

.offer3-image {
  width: 20%;
  height: 20%;
}

.offer3-title{
  color: #191919;
  font-size: 36;
  font-family: 'TT Interphases';
}

.offer3-title2{
  color: #3d3b30;
  font-size: 21;
  font-family: 'ramillas';
  font-weight: bold;
}

.offer3-button:hover {
  background-color: #333;
}

.offer3-features{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  justify-content: space-between;
  padding: 0px 30px;
}

.offer3-feature{
  justify-items: center;
  padding: 10px;
}

.offer3-feature-head{
  margin-bottom: -70px;
}

.offer3-feature-image{
  width: 80%;
  height: 80%;
}

.offer3-feature-content{
  width: 100%;
  background-color: white;
}


.offer3-feature2-content{
  width: 100%;
  background-color: white;
  margin-top: -90px;
}

.offer3-feature-title{
  padding-top: 70px;
  color: #000000;
  font-size: 23;
  font-family: 'ramillas';
  font-weight: bold;
}

.offer3-feature-description{
  font-size: 17;
  font-family: 'TT Interphases';
  color: #000000;
}

/*****/

.offer4-section {
  width: 100%;
  margin: 0 auto;
  background-color: #f8f8f8;
  padding-bottom: 40px;
}

.offer4-container{
  width: 80%;
  margin: 0 auto;
}

.offer4-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 30px 0px 30px;
  margin: auto;
}


.offer4-feature{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0px 30px 0px 30px;
  max-width: 1400px;
  margin: 0 auto;
  gap: 0px;
}

.offer4-feature-message{
  flex: 0 0 30%;
}

.offer4-feature-message p {
  line-height: 1.6;
  color: #666;
  margin-bottom: 15px;
  color: #191919;
  font-family: 'TT Interphases';
  font-size: 16;
}

.offer4-feature-gallery {
  flex: 0 0 60%;
  /*max-width: 600px;*/
}

.offer4-feature-gallery-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 180px);
  gap: 10px;
}

.offer4-feature-gallery-item {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.gallery-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.gallery-item:hover img {
  transform: scale(1.05);
}

.offer4-feature-gallery-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.offer4-feature-gallery-item:hover img {
  transform: scale(1.05);
}

.offer4-feature-gallery-item-living-room {
  grid-row: 1 / span 2;
  grid-column: 1;
}

.offer4-feature-gallery-item-bathroom {
  grid-row: 1;
  grid-column: 2;
}

.offer4-feature-gallery-item-spa {
  grid-row: 1;
  grid-column: 3;
}

.offer4-feature-gallery-item-kitchen {
  grid-row: 2;
  grid-column: 2 / span 2;
}

@media (max-width: 768px) {
  .offer4-feature-gallery {
      grid-template-columns: 1fr;
      grid-template-rows: repeat(4, 250px);
      gap: 15px;
  }

  .offer4-feature-gallery-item-living-room,
  .offer4-feature-gallery-item-bathroom,
  .offer4-feature-gallery-item-spa,
  .offer4-feature-gallery-item-kitchen {
      grid-row: auto;
      grid-column: 1;
  }
}


/************/

.offer5-section {
  width: 100%;
  margin: 0 auto;
  background-color: #6e717a;
}

.offer5-container{
  width: 80%;
  margin: 0 auto;
}

.offer5-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 30px 0px 30px;
  margin: auto;
}

.offer5-button {
  background-color: #ffffff;
  color: #000000;
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  font-family: 'TT Interphases';
  font-size: 20px;
  cursor: pointer;
}

.offer5-title{
  color: #ffffff;
  font-size: 36;
  font-family: 'TT Interphases';
}

.offer5-features {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.offer5-feature {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: transform 0.3s ease-in-out;
  background-position: center;
  background-size: auto;
  background-repeat: no-repeat;
}

.offer5-feature img {
  width: 6000px;
  height: 6000px;
  margin-bottom: 15px;
  max-width: 100%;
  height: auto;
}

.offer5-feature  p {
  font-size: 14px;
  color: #555;
  font-weight: bold;
}
