.App {
  background-color: #ddd8d4;
  color: #2c2c2c;
  line-height: 1.6;
  /*padding: 20px;*/
  /*width: 100%;*/
  overflow-x: hidden;
}

.navbar {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
}

.navbar-principal {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 30px;
}

.logo {
  display: flex;
  align-items: center;
  width:250px;
  height:150px;
  text-align:center;
  padding: 0px 20px;
}

.logo-menu{
  width:50px;
  height:50px;
  text-decoration: none;
  color: #2c2c2c;
}

.logo h1 {
  font-size: 24px;
  margin-left: 10px;
  font-weight: bold;
}

.logo span {
  font-size: 12px;
  color: #7a7a7a;
  margin-left: 5px;
}

.nav-links a {
  margin: 0 15px;
  text-decoration: none;
  color: #2c2c2c;
  font-size: x-large;
  display: inline-flex;
  column-gap: 10px;
  /*font-weight: bold;*/
}

.nl-icon {
  height: 40px;
  width: 40px;

}

.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  padding: 20px;
  /*max-width: 1200px;*/
  margin: auto;
}

@media (max-width: 800px) {
  .grid-container {
    grid-template-columns: repeat(2, 1fr);
  }
}
.grid-item {
  position: relative;
  background-size: cover;
  background-position: center;
  height: 300px;
  overflow: hidden;
}

.overlay {
  position: initial;
  height: 80px;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  width: 100%;
  text-align: center;
  padding: 10px;
  font-size: 18px;
}

.feat1-overlay {
  position: initial;
  height: 60px;
  bottom: 0;
  background: #000000;
  opacity: 0.6;
  color: #fff;
  width: 100%;
  text-align: center;
  padding: 10px;
  font-size: 20px;
}

.feat2-overlay {
  position: initial;
  height: 60px;
  bottom: 0;
  background: #615d57;
  opacity: 0.6;
  color: #fff;
  width: 100%;
  text-align: center;
  padding: 10px;
  font-size: 20px;
}

.feat3-overlay {
  position: initial;
  height: 60px;
  bottom: 0;
  background: #7d4e30;
  opacity: 0.6;
  color: #fff;
  width: 100%;
  text-align: center;
  padding: 10px;
  font-size: 20px;
}

.feat4-overlay {
  position: initial;
  height: 60px;
  bottom: 0;
  background: #2d5166;
  opacity: 0.6;
  color: #fff;
  width: 100%;
  text-align: center;
  padding: 10px;
  font-size: 20px;
}

.title-button-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 30px;
  margin: auto;
}

/* Title Text */
.title-text {
  font-size: 2.3rem;
  color: #333; /* Dark grey for text */
  flex: 1;
  margin-right: 20px;
}

/* Button */
.cta-button {
  background-color: #365069; /* Dark blue button */
  color: #fff;
  text-decoration: none;
  padding: 10px 20px;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 50px;
  display: flex;
  align-items: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.cta-button .arrow {
  margin-left: 10px;
  font-size: 1.2rem;
}

.cta-button:hover {
  background-color: #2b4053; /* Darker shade on hover */
  transform: translateY(-2px);
}